<!DOCTYPE html>
<html>
    <head>
        <title>Prime Minister Elections</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <div class="top-bar">
            <a href="/vote">Vote</a>
            <a href="/results">Results</a>
            <a href="/past-elections">Past Elections</a>
        </div>

        <section>
            <!-- Finnish flag and coat of arms decoration -->
            <div class="container">
                <div class="flag"></div>
                <h1 class="title">Past Elections</h1>
                <div class="coat"></div>
            </div>
        </section>
        
        <section>
            <div class="voting-sheet" style="font-size: 2em;">
                
            </div>
        </section>
    </body>
</html>