<!DOCTYPE html>
<html>
    <head>
        <title>Prime Minister Elections</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <section>
            <!-- Finnish flag and coat of arms decoration -->
            <div class="container">
                <div class="flag"></div>
                <h1 class="title">Prime Minister Voting Sheet</h1>
                <div class="coat"></div>
            </div>
        </section>

        <section>
            <div class="voting-sheet">
                <table>
                    <tr>
                        <th>Candidate</th>
                        {% for i in ordinals %}
                        <td>{{i}}</td>
                        {% endfor %}
                    </tr>
                    {% for i in candidates %}
                    <tr>
                        <td>{{i}}</td>
                        {% for e in ordinals %}
                        <td><input type="radio" name="{{e}}" value="{{i}}"></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>

                <input class="submit-button" type="submit" value="Submit">
            </div>
        </section>
    </body>
</html>