<!DOCTYPE html>
<html>
    <head>
        <title>Prime Minister Elections</title>
        <link href="https://fonts.googleapis.com/css?family=Dubai" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script src="static/submitscript.js"></script>
    </head>
    <body>
        <section>
            <!-- Finnish flag and coat of arms decoration -->
            <div class="container">
                <div class="flag"></div>
                <h1 class="title">Prime Minister Voting Sheet</h1>
                <div class="coat"></div>
            </div>
        </section>

        <section>
            {% if running %}
            <div class="voting-sheet">
                <table>
                    <tr>
                        <th>Candidate</th>
                        {% for i in ordinals %}
                        <td>{{i}}</td>
                        {% endfor %}
                    </tr>
                    {% for i in candidates %}
                    <tr>
                        <td name="candidate-name">{{i}}</td>
                        {% for e in range(ordinals|length) %}
                        <td><input class="radio-btn" type="radio" name="{{ordinals[e]}}" value="{{i}}{{e+1}}" id="{{i}}{{e+1}}"></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <input class="voter-name" type="text" id="voter-name" placeholder="Your in-game name">
                <input onclick="sendResults()" class="submit-button" type="submit" value="Submit">
            </div>
            {% else %}
                <div>
                    <h1 class="title">Voting is not currently open!</h1>
                    <h2 id="counter">{{timestamp}} {{w_timestamp}}</h2>
                    <!-- Counter updating script -->
                    <script src="static/timescript.js"></script>
                </div>
            {% endif %}
        </section>
    </body>
</html>