<!DOCTYPE html>
<html>
    <head>
        <title>Prime Minister Elections</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <section>
            <!-- Finnish flag and coat of arms decoration -->
            <div class="container">
                <div class="flag"></div>
                <h1 class="title">Prime Minister Voting Sheet</h1>
                <div class="coat"></div>
            </div>
        </section>

        <section>
            <div class="voting-sheet">
                <table>
                    <tr>
                        <th>Candidate</th>
                        <th>1st</th>
                        <th>2nd</th>
                        <th>3rd</th>
                        <th>4th</th>
                    </tr>
                    <tr>
                        <td>Azalea</td>
                        <td><input type="radio" name="1st" value="Azalea"></td>
                        <td><input type="radio" name="2nd" value="Azalea"></td>
                        <td><input type="radio" name="3rd" value="Azalea"></td>
                        <td><input type="radio" name="4th" value="Azalea"></td>
                    </tr>
                    <tr>
                        <td>CJ</td>
                        <td><input type="radio" name="1st" value="CJ"></td>
                        <td><input type="radio" name="2nd" value="CJ"></td>
                        <td><input type="radio" name="3rd" value="CJ"></td>
                        <td><input type="radio" name="4th" value="CJ"></td>
                    </tr>
                    <tr>
                        <td>Emerald</td>
                        <td><input type="radio" name="1st" value="Emerald"></td>
                        <td><input type="radio" name="2nd" value="Emerald"></td>
                        <td><input type="radio" name="3rd" value="Emerald"></td>
                        <td><input type="radio" name="4th" value="Emerald"></td>
                    </tr>
                    <tr>
                        <td>slash_six</td>
                        <td><input type="radio" name="1st" value="Flora"></td>
                        <td><input type="radio" name="2nd" value="Flora"></td>
                        <td><input type="radio" name="3rd" value="Flora"></td>
                        <td><input type="radio" name="4th" value="Flora"></td>
                    </tr>
                </table>

                <input class="submit-button" type="submit" value="Submit">
            </div>
        </section>
    </body>
</html>